<div class="container mt-5">
    <div class="row">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="form-group mb-5">
                    <label>Ricerca il film</label>
                    <input class="form-control" placeholder="per titolo, genere, trama, ecc..." type="text" (change)="inputSearch($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">Film trovati</h3>
        <hr>
        <div class="col-4 mb-3" *ngFor="let movie of MoviesData">
            <app-movie-card [movieData]="movie"></app-movie-card>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="MoviesRecommendations.length > 0">
        <h5>I film raccomandati per te</h5>
        <div class="col-4 mb-3" *ngFor="let movie of MoviesRecommendations">
            <app-movie-card [movieData]="movie"></app-movie-card>
        </div>
    </div>
</div>