<div class="container bg-white">
    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div *ngFor="let image of Images">
        <div>
            <img [src]="image" class="img-fluid" style="width: 50%;" alt="...">
        </div>
    </div>                        
    <hr>
    <div class="text-center">
        <h3>{{data.movieTitle}}</h3>
        <h4>{{data.movieMaker}}</h4>
        <h4>{{data.movieYearProduction}}</h4>
        <div class="d-flex">
            <p *ngFor="let tag of data.tags">{{tag.tagName}},  </p>
        </div>
        <hr>
        <p>{{data.movieDescription}}</p>
        <p>durata di {{data.movieLifeSpan}} minuti.</p>
    </div>

</div>