<div class="container bg-white">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let image of Images">
                <div class="carousel-item active">
                    <img [src]="image" class="img-fluid" style="width: 50%;" alt="...">
                </div>
            </div>                        
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <h3>{{data.movieTitle}}</h3>
        <h4>{{data.movieMaker}}</h4>
        <h4>{{data.movieYearProduction}}</h4>
        <div>
            <p *ngFor="let tag of data.tags">{{tag.tagName}}</p>
        </div>
        <hr>
        <p>{{data.movieDescription}}</p>
        <p>{{data.isForAdult}}</p>
        <p>{{data.movieLifeSpan}}</p>
    </div>

</div>