<div class="container mt-5">
    <div class="row">
        <h2 class="text-center">Recensioni</h2>
        <hr>    
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="form-group mb-5">
                    <label>Ricerca il film recensito</label>
                    <input class="form-control" placeholder="per titolo" type="text" (change)="onChangeSearchParameter($event)">
                </div>
            </div>
        </div>
    </div>
    <hr>  
    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>  
    <div class="row" *ngIf="ReviewsData.length > 0">
        <h3 class="text-center">Tutte le recensioni di tutti gli utenti</h3>
        <hr>
        <div class="mb-3" *ngFor="let review of ReviewsData">
            <app-review-card [reviewData]="review"></app-review-card>
        </div>
    </div>
    <div class="row" *ngIf="ReviewsData.length == 0">
        <h3 class="text-center">Non sono state fatte recensioni</h3>
        <div class="text-center mb-3 mt-3">
            <button class="btn btn-primary" type="submit">Crea recensione</button>
        </div>
    </div>
</div>
