<div class="container">
    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <app-sessions-viewer></app-sessions-viewer>
    <p>
        I nostri suggerimenti sono generati in base alle tue recensioni.
        Puoi chiederci cosa vorresti vedere anche in base alla descrizione del film,
        oppure al tuo stato d'animo.
        Sapremo consigliarti il miglior film.
    </p>
    <hr>
    <div *ngIf="response && RecommendationsData.length > 0">
        <div *ngFor="let recom of RecommendationsData">
            <app-recommendations-viewew [recommendation]="recom"></app-recommendations-viewew>
        </div>
        <hr>
        <p>Per inviarci un feedback sul suggerimento, basterà recensire il film che ti abbiamo raccomandato.</p>
    </div>
    <div *ngIf="RecommendationsData.length == 0">
        <p>Se non hai visualizzato i consigli vuoldire che non ti conosciamo abbastanza, ti consigliamo di contianuare a recensire</p>
        <button class="btn btn-primary" (click)="goNewReview()">Consigliami</button>
    </div>
    <div class="row" *ngIf="response == false">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="onByUser()">Consigliami</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="onByRequest()">Ti faccio una richiesta</button>
        </div>
    </div>
    <div *ngIf="byRequest && response == false">
        <app-new-request></app-new-request>
    </div>
</div>