<div class="container mt-5">
    <div class="text-center mb-5">
        <h2 class="text-center">Inserisci il film</h2>
        <hr>    
    </div>
    <ng-container *ngIf="newMovieForm.errors != null">
        <p class="text-danger">{{newMovieForm.errors}}</p>
    </ng-container>
    <form [formGroup]="newMovieForm" (ngSubmit)="onSubmit(newMovieForm)">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Titolo del film</label>
                    <input class="form-control" type="text" formControlName="title">
                </div>
                <div class="form-group">
                    <label>Anno</label>
                    <select class="form-select" formControlName="year">
                        <option *ngFor="let yearNum of yearList" [value]="yearNum">{{yearNum}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Regista</label>
                    <input class="form-control" type="text" formControlName="maker">
                </div>                
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Trama</label>
                    <textarea class="form-control" formControlName="description"></textarea>
                </div>                
                <div *ngIf="isLoadingTags == true">
                </div>
                <div *ngIf="isLoadingTags == false && TagsData != null">
                    <div class="form-group">
                        <label>Genere di film</label>
                        <select class="form-control" (change)="selectGenreMovie($event)">
                            <option *ngFor="let tag of TagsData" [value]="tag.tagId">{{tag.tagName}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="genresSelected.length > 0">
                    <hr>
                    <p>Generi selezionati</p>
                    <div *ngFor="let genre of genresSelected">
                        <p>{{genre}}</p>
                    </div>
                    <hr>        
                </div>
                <div class="form-group">
                    <label>Durata film in minuti</label>
                    <input class="form-control" type="number" formControlName="lifeSpan">
                </div>
            </div>
        </div>
        <div class="row">  
            <div class="form-check">
                <label class="form-check-label" >
                    E' per un publico adulto?
                </label>
                <input class="form-check-input" type="checkbox" formControlName="adult">
            </div>          
            <div class="form-group">
                <label class="form-label">Immagini del film</label>
                <input class="form-control" type="file" (change)="selectImageMovie($event)">
            </div>
            <div *ngIf="filesSelected.length > 0">
                <p>Immagini selezionate per il film</p>
                <div *ngFor="let image of filesSelected">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{image.name}}</h5>
                          <a (click)="removeImage($event)" class="btn btn-primary">Cancella</a>
                        </div>
                    </div>
                </div>       
            </div>
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="newMovieForm.invalid">Inserisci il nuovo film</button>
        </div>
    </form>
</div>

