<div>
  <ul *ngFor="let session of sessions">
    Sessione data: {{session.dateTimeCreation}}
    <ul *ngFor="let request of session.requests">
      <li *ngIf="request.whatClientWant != null">Cosa ho chiesto: {{request.whatClientWant}}</li>
      <li *ngIf="request.howClientFeels != null">Come mi sentivo:{{request.howClientFeels}}</li>
      <li *ngIf="request.sentiment != null">Mi sentivo: {{request.sentiment}}</li>
      <ul>Richiesta generata       
        <li>il : {{request.dateTimeRequest | date:'dd-MM-yyyy'}}</li>
        <li>alle : {{request.dateTimeRequest | date: 'HH:mm:ss'}}</li>
      </ul>
      <ul *ngFor="let recom of request.recommendations">
        <li>Movie Advisor ti raccomanda di vedere: {{recom.movieTitle}}</li>
        <li>Ti piacerà al : {{recom.aiScore}} (dove 0 non ti piace e 10 ti piacerà molto)</li>
        <li>Visto: {{recom.see}}</li>
      </ul>
    </ul>
  </ul>
<div *ngIf="sessions.length == 0">
  <p>Nessuna sessione trovata</p>
</div>
