@page "/movie-submit"
@using MAModels.DTO;

<h3>MovieSubmit</h3>

<form>
    <label>Titolo del film</label>
    <input type="text" @bind="MovieName"/>

    <label>Anno di produzione</label>
    <select>
        @for(short year = 1900; year <= System.DateTime.Now.Year; year++)
        {
            <option @value="@year" @bind="MovieYear">@year</option>
        }
    </select>
</form>

@code {
    [Parameter]
    public string MovieName { get; set; }

    [Parameter]
    public short MovieYear { get; set; }

    [Parameter]
    public string MovieDesc { get; set; }

    [Parameter]
    public string MakerName { get; set; }

    [Parameter]
    public int[] MovieTags { get; set; }

    [Parameter]
    public bool AdultContent { get; set; }
}
