@page "/movie-submit"
@using MAModels.DTO;
@using MAModels.EntityFrameworkModels;
@using MAUI.Services.ApiServices;
@inject HttpClient _httpClient

<h3>MovieRegistration</h3>

<EditForm Model="MovieModel" OnSubmit="@Submit">

    <InputText @bind-Value="MovieModel.MovieTitle" />

    <InputNumber @bind-Value="MovieModel.MovieYearProduction" />

    <InputTextArea @bind-Value="MovieModel.MovieDescription" />

    <InputText @bind-Value="MovieModel.MovieMaker" />

    <InputCheckbox @bind-Value="MovieModel.IsForAdult" />
    
    @if(MovieTags.Count > 0)
    {        
        <select @bind="MovieTags">
            @foreach (var item in MovieTags)
            {
                <option value="@item.MovieTagsId">@item.MovieTags</option>
            }
        </select>
    }
    else
    {
        <p>Loading...</p>
    }

    <button type="submit">Submit</button>
</EditForm>

@code {    
    private ICollection<MovieTag> MovieTags;

    private string selectedItem;

    public MovieDTO MovieModel { get; set; }

    [Inject]
    private MovieTagsApiServices movieTagApiService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MovieTags = await movieTagApiService.GetMovieTags();
    }

    private void Submit()
    {
        
    }

}
