<div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false" *ngIf="reviewData.descriptionVote == null">
        <h2 ngbAccordionHeader>
            {{reviewData.userName}}
            {{reviewData.movieTitle}}
        </h2>
        <h4>{{reviewData.dateTimeVote}}</h4>
    </div>
	<div ngbAccordionItem [collapsed]="false" *ngIf="reviewData.descriptionVote != null">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>{{reviewData.userName}}</button>
            {{reviewData.movieTitle}}
		</h2>
        <h4>{{reviewData.dateTimeVote}}</h4>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					{{reviewData.descriptionVote}}
				</ng-template>
			</div>
		</div>
	</div>
    <ngb-rating [(rate)]="reviewData.vote" />
        <hr />
    <pre>Rate: <b>{{ reviewData.vote }}</b></pre>
</div>