<div class="accordion" id={{reviewData.reviewId}}>
    <div class="accordion-item">
      <h2 class="accordion-header" id={{reviewData.reviewId}}>
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{reviewData.movieTitle}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <h4>{{reviewData.vote}}</h4>
            <h5>{{reviewData.dateTimeVote}}</h5>
            <p>{{reviewData.descriptionVote}}</p>
        </div>
      </div>
    </div>
</div>
