<div class="card" style="width: 18rem;">
  <div *ngFor="let image of Images">
    <img class="card-img-top" [src]="image" alt="Card image cap">
  </div>
    <div class="card-body">
      <h5 class="card-title">{{movieData.movieTitle}}</h5>
      <h5 class="card-title">{{movieData.movieYearProduction}}</h5>
      <h5 class="card-title">{{movieData.movieMaker}}</h5>
      <p class="card-text">{{movieData.movieDescription}}</p>
      <div>
        <p *ngFor="let tag of movieData.tags">{{tag.tagName}}</p>
      </div>
    </div>
</div>
